<div class="container">
  <div class="row">
    <% @resturants.each do |resturant| %>
    <div class="col-md-4">
      <div class="thumbnail">
        	<a href="/resturants/<%= resturant.id %>">
        	<%= image_tag(resturant.image.url, :style => "max-width: 273px;height: 246px; margin-top: 15px;") %>
        	</a>
          <div class="caption">
            <p style= "margin-left: 35%;"><%= link_to resturant.name, resturant %></p>
          </div>
        
      </div>
    </div>
    <% end %>
	</div>
</div>

