<div class="row full-height">
 <div class="col s9 full-height scroll-bar">
  <br><br>
  <% @resturants.each do |article| %>
    <div class="article">
      <h1 class="article-title"><%= link_to article.name, article %></h1>
      <h1 class="ry"><%= link_to image_tag(article.image.url), article %></h1>
    </div>
  <% end %>
</div></div>
