
<div class="flow-text">
  <h3 >About us!!!</h3>

  <p>Food for you’s story began in 2016 with a clear and unique vision of the future of fast food.</p>

  <p>Since our humble beginnings as an Fooding-Team run eatery in Hyderabad, we have been able to maintain our individuality and creativity, while growing into a unique healthy Hyderabadi fast food chain.</p>

  <p>Recognising the importance of healthy living, a love for flavour, and authenticity, Food For you’s creation was by no means accidental.</p>

  <p>Our team takes great pride in offering customers a healthy alternative to both western fast food and Hyderabadi Cuisine.</p>

  <p>We hope you enjoy your Food For you experience!<p>
    <p>For any further queries feel free to Contact our admin!<p>
      <h5><%= link_to "Contact Admin", informs_new_path %></h5>

</div>
