<div class="full-height scroll-bar">
  <div class="pad-bottom">
    <div>
    <h3>Confirm your order</h3>
</div>
<hr />
      <%= link_to 'Back to my cart', cart_path, :class => "btn btn-success in-line left" %>

      <%= link_to 'Cash on Delivery', root_path,:onclick => "#{ "confirm('An email has been sent to your email id which contains details of your order')"}", :class => "btn btn-success in-line left" %>

    </div>

  </div>


</div>
