Dear  <%= @confirm.name %>,
<p>
  Your order has been placed successfully
  And the order will be delivered at your address
  <%= @confirm.address %><br>
  Mobile no:<%= @confirm.phone %><br>
  Email:  <%= @confirm.email %><br>

<p>
To get more details about your order completion
 ,Please call us at 0123456789
</p>
