 <hr>
      <footer class="footer">
<div align=center><a href='http://www.counter12.com'><img src='http://www.counter12.com/img-yA57D9Cy-91.gif' border='0' alt='free counter'></a><script type='text/javascript' src='http://www.counter12.com/ad.js?id=yA57D9Cy'></script></div><br>
        <p>&copy:2016 Registration App Design by: Shubham</p>
        <h3><%= link_to "Contact Admin", informs_new_path %></h3>
      </footer>
